<!--
.p8_menu_button{
	opacity:0.3;
	padding:4px;
	display:table;
	width:24px;
	height:24px;
	float:right;
}

@media screen and (min-width:512px) {
	.p8_menu_button{
		width:24px; margin-left:12px; margin-bottom:8px;
	}
}
.p8_menu_button:hover{
	opacity:1.0;
	cursor:pointer;
}

canvas{
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
	border: 0px;
	cursor: none;
}


.p8_start_button{
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	cursor:pointer;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAIAAABMXPacAAAARUlEQVR4Ae3dgQAAAACAoP2pFymSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACABsCAAAGB4kPcAAAAEHRFWHRMb2RlUE5HADIwMTEwMjIx41m2wQAAAABJRU5ErkJggg==");
	-repeat center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;
}

.button_gfx{
	stroke-width:2;
	stroke: #ffffff;
	stroke-opacity:0.4;
	fill-opacity:0.2;
	fill:black;
}

.button_gfx_icon{
	stroke-width:3;
	stroke: #909090;
	stroke-opacity:0.7;
	fill:none;
}

-->